/* Large Devices Styles Starts */

@media (min-width: 1200px) {
	
/* Portfolio Zoom Styles Starts */	
	
	.view p {
		padding: 10px 20px 10px;
	}
	.view h2 {
		font-size: 22px;
		margin: 20px 0 0 0;
	}
	.view-tenth h2 {
		margin: 20px 40px 0;
	}
	.view a.info {
		margin-top: 10px;
	}
	
}

/* Medium Devices Styles Starts */

@media (min-width: 992px) and (max-width: 1199px) {

/* Slider Section Styles Starts */

	.mainslider .flex-caption {
		top: 10%;
	}

/* Team Section Styles Starts */

	.contenthover { 
		padding: 10px;
		font-size: 12px;
	}
		.contenthover ul {
			padding-top: 0;
		}

}

/* Small Devices Styles Starts */

@media (min-width: 768px) and (max-width: 991px) {

/* Navigation Styles Starts */

	.navbar-nav li a {
		padding-left: 10px;
		padding-right: 10px;
	}

/* Slider Section Styles Starts */

	.mainslider .flex-caption {
		top: 4%;
		width: 58%;
	}
		.mainslider .flex-caption h2 {
			font-size: 30px;
		}
		.mainslider .flex-caption p {
			font-size: 16px;
		}
		.mainslider .flex-caption .fa {
			font-size: 38px;
		}

/* Lead Profile Section Styles Starts */

.lead-profile {
	text-align: center;
}
	.lead-profile .img-responsive {
		float: none;
		margin: 0 auto 50px;
	}

/* Team Section Styles Starts */

	.contenthover { 
		padding: 10px;
		font-size: 12px;
	}
		.contenthover ul {
			padding-top: 0;
		}	
	
}

/* Extra Small Devices Styles Starts */

@media (max-width: 767px) {

/* Heading Styles Starts */

h2 { font-size: 32px; }
h4 { font-size: 18px; }

/* Header Section Styles Starts */

	.top-bar {
	}
		.top-bar p, 
		.top-bar ul {
			text-align: center;
		}
		
/* Navigation Styles Starts */

	.navbar-default .navbar-toggle {
		margin-top: 25px;
	}
	.navbar-collapse {
		margin-top: 15px;
	}
	.navbar-nav {
		padding-top: 0;
		margin-top: 0;
	}
		.navbar-nav li {
			text-align: left;
		}
		.navbar-nav li + li {
			border-top: 1px solid #eee;
		}
		.navbar-nav li .fa {
			padding:0 10px;
		}
		.navbar-nav li br {
			display: none;
		}		

/* Slider Section Styles Starts */

	.mainslider .flex-caption {
		display: none;
	}


/* About Section Styles Starts */

	.about-content {
		text-align: center;
	}
		.about-content .img-responsive {
			margin-left: auto;
			margin-right: auto;
		}
		
/* Services Section Styles Starts */

	.services-list-carousel .carousel .slides li {
		margin-right: 0;
	}

/* Lead Profile Section Styles Starts */

.lead-profile {
	text-align: center;
}
	.lead-profile .img-responsive {
		float: none;
		margin: 0 auto 50px;
	}
	.lead-profile ul, 
	.lead-profile li {
		margin-top: 15px;
	}
	
/* Services Section Styles Starts */

	.expertise-bar span.col-sm-6 + span.col-sm-6 {
		float: right;
	}

/* Footer Section Styles Starts */

	.footer li {
		margin-left: 4px;
		margin-right: 4px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
		.footer li a {
			font-size: 23px;
		}
	
}