body {
	font: 14px/22px 'Josefin Sans', Arial, Helvetica, sans-serif;
	color: #110f0f;
	background-color: #fff;
}

/* Standard Styles Starts */

a { }
a:hover {
}
a:focus { outline: none; }

hr {
	border-top: 3px
	solid #617FA7;
}

/* Heading Styles Starts */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #111;
	text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
.services-list h4,
.services-list-carousel h4 {
	font-family: 'Roboto Slab', serif;
}
h1 { font-size: 52px; }
h3 { font-size: 30px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
h2 {
	margin-bottom: 5px;
	font-size: 48px;
}
h2 > span,
.mainslider .flex-caption h2,
.lead-profile h3,
.services-list h4,
.services-list-carousel h4,
.panel-smart h5 {
	color: #7193c2;
}
h4 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
}
.lead-profile h2,
.achievements h2,
.achievements h4,
.testimonials h2,
.testimonials h4 {
	color: #fff;
}
h4,
.top-bar,
.navbar-nav,
.mainslider .flex-caption h2,
.panel-smart h6,
.mainslider .flex-caption p,
#accordion .panel-heading h5,
ul#portfolio-filter li a.btn,
.btn-heather {
	font-family: 'Roboto Condensed', sans-serif;
}

/* Form & Buttons Styles Starts */

.btn-heather {
	margin-top: 10px;
	font-size: 18px;
	text-transform: uppercase;
	background-color: #617FA7;
}
.btn-heather:hover {
	background-color: #617FA7;
}
.btn-heather,
.btn-heather:hover,
.btn-heather:focus {
	color: #fff;
}

/* Preloader Styles Starts */

.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #000 url("../images/loader.gif") 50% 50% no-repeat;
}


/* Header Section Styles Starts */

.header{
	position: relative;
}
	.top-bar {
		margin-bottom: 10px;
		padding: 10px 0 5px;
		background-color: #617FA7;
	}
	.top-bar,
	.top-bar a {
		color: #fff;
	}
	.top-bar ul {
		text-align: right;
	}
		.top-bar li .fa,
		.top-bar li .glyphicon {
			margin-right: 5px;
		}


/* Navigation Styles Starts */
/* navbar-default is the navbar value for color */

	.sticky-nav {
		width: 100%;
		z-index: 999;
	}
	.navbar-default {
		background-color: #fff;
		border: none;
	}
	.navbar {
		min-height: 40px;
		margin: 0;
	}
	.fixednav{
		border-top: 4px solid #7092C1;
		border-bottom: 4px solid #7092C1;
	}
	.navbar-nav {
		padding-top: 5px;
		text-transform: uppercase;
	}
		.navbar-nav li {
			font-size: 12px;
			text-align: center;
		}
			.navbar-nav li a {
				color: #111 !important;
			}
			.navbar-nav li .fa {
				padding:4px 0;
				font-size: 18px;
			}
			.navbar-nav li.current a,
			.navbar-nav li a:hover {
				color: #7092C1 !important;
			}

/* Slider Section Styles Starts */

.mainslider {
	position: relative;
	background-color: #7092C1;
	border-bottom: 10px solid #617FA7;
}
	.mainslider .flexslider {
		padding: 0;
	}
		.mainslider .flexslider .slides li {
			position: relative;
		}
			.mainslider .flex-caption {
				position: absolute;
				top: 23%;
				z-index: 1;
				width: 36%;
				padding: 2%;
				color: #fff;
				text-align: center;
				background: rgba(0, 0, 0, 0.5);
			}
			.mainslider .flex-caption.right {
				right: 7%;
			}
			.mainslider .flex-caption h2 {
				font-size: 36px;
			}
			.mainslider .flex-caption p {
				font-size: 18px;
			}
			.mainslider .flex-caption .fa {
				font-size: 48px;
			}
			.mainslider .flex-caption hr {
				border-top: 1px dashed #fff;
			}
			.mainslider .flex-direction-nav a {
			}
			.mainslider .flex-direction-nav .flex-prev,
			.mainslider .flex-direction-nav .flex-next {
				color: #fff;
			}
				.mainslider .flex-direction-nav .flex-prev {
					left: 15px;
				}
				.mainslider .flex-direction-nav .flex-next {
					right: 20px;
				}

/* About Section Styles Starts */

.about {
	padding: 30px 0 50px;
}
	.about-content {
		padding-top: 30px;
		text-align: center;
	}
		.about-content h6 {
			margin-top: 30px;
			margin-bottom: 15px;
		}

/* Lead Profile Section Styles Starts */

.lead-profile {
	padding: 70px 0;
	color: #fff;
}
	.lead-profile .img-responsive {
		margin-top: 50px;
		border: 12px solid #7092C1;
	}
	.lead-profile h3 {
		margin-top: 10px;
	}
	.lead-profile p {
	}
	.lead-profile blockquote {
		padding-top: 0;
		padding-bottom: 0;
		color: #cfcfcf;
		font-size: 16px;
		border-color: #617FA7;
	}
	.lead-profile p,
	.lead-profile blockquote {
		margin-top: 30px;
		font-style: italic;
	}
	.lead-profile ul {
		margin-top: 30px;
	}
		.lead-profile li {
			margin: 0 5px;
			width: 63px;
			height: 63px;
			line-height: 55px;
			border: 3px solid #7092C1;
			text-align: center;
		}
		.lead-profile li:hover {
			background-color: #7092C1;
		}
			.lead-profile li a {
				font-size: 36px;
				color: #7092C1;
			}
			.lead-profile li:hover,
			.lead-profile li:hover a,
			.lead-profile li a:hover {
				color: #fff;
			}

/* Services Section Styles Starts */

.services {
	padding: 30px 0 50px;
	background-color: #efefef;
}
	.services-list-carousel {
		overflow: hidden;
	}
	.services-list-carousel .flexslider {
		background: none;
	}
	.services-list-carousel .flexslider .panel-smart {
		margin-top: 20px;
	}
	.services-list-carousel .carousel .slides li {
		margin-right: 25px;
	}
	.services-list-carousel .flex-direction-nav a,
	.services-list-carousel .flex-direction-nav .flex-disabled {
		opacity: 1 !important;
	}
	.services-list-carousel .flex-direction-nav a {
		top: 4%;
		width: 33px;
		height: 33px;
		line-height: 33px;
	}
	.services-list-carousel .flex-direction-nav li a {
		padding: 0;
		text-align: center;
		background-color: #7092C1;
	}
	.services-list-carousel .flex-direction-nav a:before {
		font-size: 20px;
	}
	.services-list-carousel .carousel .flex-prev,
	.services-list-carousel .carousel .flex-next {
		color: #fff;
	}
		.services-list-carousel .carousel .flex-prev {
			left: auto;
			right: 50px;
		}
		.services-list-carousel .carousel .flex-next {
			right: 5px;
		}
	.services-list,
	.services-list-carousel {
		padding-bottom: 30px;
	}
		.services-list h4,
		.services-list-carousel h4 {
			margin-top: 20px;
			margin-bottom: 10px;
		}
	.services-content h3 {
		margin-bottom: 30px;
	}
	#accordion .panel {
		background: none;
	}
		#accordion .panel-heading {
			padding: 14px 20px;
			color: #1e1e1e;
			font-size: 18px;
			background-color: #d1d1d1;
		}
		#accordion .panel-heading.active {
			color: #fff;
			background-color: #5d5d5d;
		}
		#accordion .panel-heading a:hover,
		#accordion .panel-heading a:focus {
			text-decoration: none;
		}
		#accordion .panel-title {
			font-size: 18px;
			text-transform: capitalize;
		}
		#accordion .panel-body {
			padding:20px 0 15px 0;
		}
	.expertise-bar {
	}
		.expertise-bar h6 {
			color: #111;
			text-transform: capitalize;
		}
		.expertise-bar h6 strong {
			font-weight: normal;
		}
		.expertise-bar span.col-sm-6 + span.col-sm-6 {
			color: #6e6e6e;
			text-align: right;
		}
	.services .progress {
		height: 4px;
		background-color: #bdbdbd;
	}
	.services .progress-bar {
		background-color: #7092C1;
	}

/* Testimonials Section Styles Starts */

.testimonials {
	padding: 30px 0 60px;
}
	#quote-carousel {
		margin-top: 50px;
	}
	#quote-carousel hr { border-top: 1px solid #617FA7; }
	#quote-carousel,
	#quote-carousel h6 {
		color: #fcfcfc;
	}
	#quote-carousel blockquote {
		padding: 0;
		text-align: center;
		font-size: 15px;
		border: none;
	}
		#quote-carousel p {
			font-style: italic;
		}
		#quote-carousel p:before,
		#quote-carousel p:after {
			font-family: 'FontAwesome';
		}
		#quote-carousel p:before {
			margin-right: 20px;
			content: "\f10d";
		}
		#quote-carousel p:after {
			margin-left: 20px;
			content: "\f10e";
		}
		#quote-carousel h5 {
			margin:20px 0 10px;
			color: #7092C1;
			font-size: 20px;
		}
		#quote-carousel h6 {
			margin: 0;
			font-size: 16px;
			text-transform: capitalize;
		}
		#quote-carousel .img-responsive {
			margin: 0 auto 25px;
			border: 6px solid #f9f9f9;
		}
		#quote-carousel .carousel-indicators {
			right: 50%;
			bottom: -40px;
		}
			#quote-carousel .carousel-indicators li {
				margin-right: 0;
				background: #fff;
			}
			#quote-carousel .carousel-indicators .active {
			  background: #7092C1;
			  border-color: #7092C1;
			}

/* Portfolio Section Styles Starts */

.portfolio {
	padding: 30px 0 50px;
}
	ul#portfolio-filter {
		text-align: center;
	}
		ul#portfolio-filter li {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		ul#portfolio-filter li a.btn {
			color: #111;
			font-size: 18px;
			border: 2px solid #617FA7;
		}
		ul#portfolio-filter li a:hover,
		ul#portfolio-filter li a.active,
		ul#portfolio-filter li a:focus {
			color: #fff;
			background: #7092C1;
		}
	ul#portfolio-items {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		ul#portfolio-items li {
			padding-top: 15px;
			padding-bottom: 15px;
		}

/* Portfolio Zoom Styles Starts */

.view p {
	position: relative;
	color: #fff;
	padding: 10px 20px 0;
	text-align: center;
}
.view-tenth p {
	color: #333;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.view {
	z-index: 9;
	cursor: default;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.view .mask, .view .content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img {
	display: block;
	position: relative;
}
.view-tenth img {
	left: 10px;
	margin-left: -10px;
	position: relative;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.view-tenth:hover > img {
	-webkit-transform: scale(2) rotate(10deg);
	-moz-transform: scale(2) rotate(10deg);
	-o-transform: scale(2) rotate(10deg);
	-ms-transform: scale(2) rotate(10deg);
	transform: scale(2) rotate(10deg);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.view h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 20px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 10px 0 0 0;
	text-shadow: none;
}
.view-tenth h2 {
	color: #333;
	margin: 10px 40px 0;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.view a.info {
	color: #fff;
	background: #000;
	padding: 5px 12px;
	text-decoration: none;
	margin-top: 5px;
	display: inline-block;
	overflow: hidden;
	text-transform: uppercase;
}
.view a.info:hover {
	background: #7092C1;
}
.view-tenth a.info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* Team Section Styles Starts */

.team {
	padding: 30px 0 50px;
	background-color: #efefef;
}
	.panel-smart {
		margin-top: 40px;
		text-align: center;
		border: none;
	}
		.panel-smart .panel-heading {
			padding: 0;
			overflow: hidden;
		}
		.team .panel-smart img.img-responsive,
		.contenthover {
			-webkit-border-radius: 4px 4px 0 0;
			   -moz-border-radius: 4px 4px 0 0;
			        border-radius: 4px 4px 0 0;
		}
		.team .panel-smart h5 {
			font-weight: 700;
		}
		.team .panel-smart h6 {
			padding-top: 3px;
			color: #1f1f1f;
			font-size: 18px;
			font-style: italic;
			text-transform: capitalize;
		}
		.drop-panel {
			padding: 0 !important;
		}
		.contenthover {
			padding: 25px;
			background-color: rgba(210, 72, 55, 0.8);
		}
		.contenthover,
		.contenthover a {
			color: #fff;
		}
			.contenthover ul {
				padding-top: 10px;
			}
				.contenthover li {
					font-size: 20px;
				}

/* Achievements Section Styles Starts */

.achievements{
	padding: 30px 0 50px;
	background-color: #2f2f2f;
}
	.achievement-badges {
		margin-top: 65px;
		text-align: center;
	}
		.achievement-badges h2 span {
			font-weight: bold;
		}
		.achievement-badges h2 strong {
			padding-right: 3px;
		}
		.achievement-badges .fa {
			font-size: 90px;
			color: #fff;
		}

/* Contact Section Styles Starts */

.contact {
	padding: 30px 0 50px;
}
	.contact .status {
		display: none;
	}
	.contact form {
		margin-top: 30px;
	}

/* Footer Section Styles Starts */

.footer {
	padding: 40px 0;
	font-family: 'Roboto Slab', serif;
	background-color: #080808;
}
	.footer,
	.footer a {
		color: #fff;
	}
	.footer ul {
		margin-top: 30px;
		margin-bottom: 0;
	}
		.footer li {
			margin-left: 8px;
			margin-right: 8px;
			width: 60px;
			height: 60px;
			line-height: 60px;
			background-color: #fff;
		}
			.footer li a {
				color: #282828;
				font-size: 36px;
			}

/* Generic Styles Starts */

.navbar,
#accordion .panel,
.services .progress {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
.box-shadow,
.top-bar {
	-webkit-box-shadow: 0 2px 4px 2px #999;
	   -moz-box-shadow: 0 2px 4px 2px #999;
			box-shadow: 0 2px 4px 2px #999;
}
ul#portfolio-items li:hover .view,
.panel-smart,
.btn-heather {
	-webkit-box-shadow: 5px 5px #d7d7d7;
	   -moz-box-shadow: 5px 5px #d7d7d7;
			box-shadow: 5px 5px #d7d7d7;
}
.mainslider .flex-caption .btn-heather {
	-webkit-box-shadow: 5px 5px #141310;
	   -moz-box-shadow: 5px 5px #141310;
			box-shadow: 5px 5px #141310;
}
.mainslider .flex-caption,
.services-list-carousel .flex-direction-nav a,
#accordion .panel-heading,
ul#portfolio-items li .view,
ul#portfolio-items li .view a.info,
.rc4px {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
.rc50percent,
.lead-profile li,
.footer li {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.top-bar,
.navbar,
#accordion .panel,
.services .progress {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.about,
.lead-profile,
.services,
.testimonials,
.portfolio,
.team,
.achievements,
.contact {
	-webkit-transform: skewY(-3deg);
	   -moz-transform: skewY(-3deg);
			 transform:skewY(-3deg);
}
.about .container,
.lead-profile .container,
.services .container,
.testimonials .container,
.portfolio .container,
.team .container,
.achievements .container,
.contact .container {
	-webkit-transform: skewY(3deg);
	   -moz-transform: skewY(3deg);
			 transform:skewY(3deg);
}